{
  "semi": true,
  "singleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["*.css", "*.scss", "*.less"],
      "options": {
        "printWidth": 80
      }
    }
  ]
}
