:root {
  --variable-font-main: "Inter-Variable";
  --variable-font: "PressStart2P";
  --system-font: sans-serif;
  --font-size-main: 18px;
  --font-weight-main: 410;
  --font-weight-title: 715;
  --line-height-text: 1.167;
  --line-height-dialog: 1.5;
  --background-color: rgba(255, 255, 255, 1);
  --background-main-image:
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    linear-gradient(to bottom, #e7e7e7, #e7e7e7 0.01%, #1a1a1a 100%);
  --outline-main: 2px solid rgba(0, 0, 0, 1);
  --header-padding: 100px;
  --card-gap: 50px;
  --text-padding: 25px 25px 0;
  --margin-block-end: 27px;
  --accent-color: rgba(0, 0, 0, 1);
  --accent-color-text: rgba(255, 255, 255, 1);
}
